# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
src/abi/
src/gate/gateway.js
src/abi/Roles.json
src/abi/Roles.json
src/abi/Migrations.json
src/abi/Market.json
src/abi/ManageEgg.json
src/abi/Gateway.json
src/abi/FoodFactory.json
src/abi/Farmer.json
src/abi/Deliver.json
src/abi/Consumer.json
src/gate/gateway.js
.vscode/launch.json
contracts/artifacts/build-info/025a36e8c98119b2804f510984c68c75.json
contracts/artifacts/ManageEgg.json
contracts/artifacts/ManageEgg_metadata.json
